table {
  /* width: 750px; Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

table:last-of-type {
  text-align: center;
}

table {
  /* border:1px solid rgb(160, 160, 160); */
  border-collapse: collapse;
}

table td {
  border: 1px solid rgb(160, 160, 160);
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}

table th:not(:last-child) {
  border-right: 1px solid rgb(160, 160, 160);
}

td,
th {
  padding: 10px; /* Поля вокруг содержимого таблицы */
  font-size: 20px;
}
th {
  background: #b0e0e6b4; /* Цвет фона */
  color: #00272c;
}

body {
  padding: 20px 20px;
}

caption {
  padding-bottom: 12px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: #00272c;
}

.task-text {
  color: #00272c;
  font-size: 20px;
}

.task-title {
  font-size: 30px;
  padding-bottom: 12px;
  color: #00272c;
}

.task-info {
  font-size: 17px;
  padding-bottom: 12px;
  margin-bottom: 15px;
  color: #00272c;
}

.negative-answer {
  color: rgb(197, 18, 18);
}

.positive-answer {
  color: green;
}

.code-results {
  /* display: flex;
  flex-direction: row; */
  margin-top: 20px;
}

.input {
  margin: 10px auto;
  border-radius: 2%;

  border: none;

  font-size: x-large;
  height: 40px;
  width: auto;
  padding: 5px 20px;
  margin: 10px 0px 30px 2px;
  background: #b0e0e6b4; /* Цвет фона */
  color: #001925;
  cursor: pointer;
}